In [2]:
import numpy as np
import pandas as pd
import matplotlib

# Import Data

In [3]:
# Obtain from https://hub.mph.in.gov/dataset/aries-crash-data-2007-2017/resource/911880b1-d0bb-4168-a5c1-a52dcc291445

raw_df = pd.read_csv('aries_crash_data_2017.csv')
raw_df.head()

/home/riggins/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (7,8,10,12,14,15,17,19,21,23,25,44,45,90,98) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,INDEXING_NUMBER,INDIVIDUAL_MR_RECORD,UNIT_MR_NUMBER,STATUSCDE,PERSONNMB,PERSONTYPECDE,PERSONTYPEDESCR,GENDERCDE,AGE_GRP,POSINVEHCDE,...,TRAVDIRDESCR,EMGERENCY_RUN,FIREIND,COLLEVENTCDE,COLLEVENTDESCR,PRECOLLACTCDE,PRECOLLACTDESCR,DISTRICT,DISTRICT_NUM,SUBDISTRICT
0,902869479002,902869479,1,AC,2.0,5.0,Owner Vehicle,NaN,NaN,NaN,...,Northwest,N,N,1.0,Another Motor Vehicle,5.0,Turning Right,Greenfield,3.0,Indianapolis
1,902890114001,902890114,1,AC,1.0,5.0,Owner Vehicle,NaN,NaN,NaN,...,NaN,N,N,1.0,Another Motor Vehicle,1.0,Going Straight,Greenfield,3.0,Indianapolis
2,902896591002,902896591,1,AC,2.0,5.0,Owner Vehicle,NaN,NaN,NaN,...,NaN,N,N,1.0,Another Motor Vehicle,2.0,Backing,Greenfield,3.0,Greenfield
3,902863058002,902863058,1,AC,2.0,5.0,Owner Vehicle,NaN,NaN,NaN,...,NaN,N,N,1.0,Another Motor Vehicle,5.0,Turning Right,Greenfield,3.0,Indianapolis
4,902870589002,902870589,1,AC,2.0,5.0,Owner Vehicle,NaN,NaN,NaN,...,NaN,N,N,1.0,Another Motor Vehicle,2.0,Backing,Greenfield,3.0,Indianapolis

# Filter Dataframe

In [ ]:
raw_df['AGE_GRP'].value_counts()

In [ ]:
raw_df['PERSONTYPEDESCR'].value_counts()

In [4]:
young = (raw_df['AGE_GRP'] == "<1 Year") | (raw_df['AGE_GRP'] == "1-4 Years") | (raw_df['AGE_GRP'] == "5-14 Years") | (raw_df['AGE_GRP'] == "15-24 Years")
on_street = (raw_df['PERSONTYPEDESCR'] == "Pedestrian") | (raw_df['PERSONTYPEDESCR'] == "Pedal Cyclist")

df = raw_df[young & on_street]
df.head()

,INDEXING_NUMBER,INDIVIDUAL_MR_RECORD,UNIT_MR_NUMBER,STATUSCDE,PERSONNMB,PERSONTYPECDE,PERSONTYPEDESCR,GENDERCDE,AGE_GRP,POSINVEHCDE,...,TRAVDIRDESCR,EMGERENCY_RUN,FIREIND,COLLEVENTCDE,COLLEVENTDESCR,PRECOLLACTCDE,PRECOLLACTDESCR,DISTRICT,DISTRICT_NUM,SUBDISTRICT
231120,903036115001,903036115,3,AC,1.0,3.0,Pedestrian,M,5-14 Years,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,Greenfield,3.0,Indianapolis
231128,902920859001,902920859,2,AC,1.0,3.0,Pedestrian,F,5-14 Years,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231140,902981306001,902981306,2,AC,1.0,4.0,Pedal Cyclist,M,15-24 Years,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231141,903019794001,903019794,2,AC,1.0,3.0,Pedestrian,M,15-24 Years,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,Crawfordsville,1.0,Cloverdale
231143,903014118001,903014118,2,AC,1.0,4.0,Pedal Cyclist,F,15-24 Years,NaN,...,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
c = pd.crosstab(df['AGE_GRP'], df['PERSONTYPEDESCR'], margins=True, margins_name="Total")
c = c.reindex(["<1 Year","1-4 Years","5-14 Years","15-24 Years","Total"], columns=["Pedestrian","Pedal Cyclist","Total"])
c

PERSONTYPEDESCR  Pedestrian  Pedal Cyclist  Total
AGE_GRP
<1 Year                   8              3     11
1-4 Years                35              1     36
5-14 Years              197            169    366
15-24 Years             355            251    606
Total                   595            424   1019